---
const posts = await Astro.glob('../../../posts/**/**.md');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mykal's Coffee</title>
    <!-- OPEN PROPS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/open-props@1.4.24/open-props.min.css"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- GENERIC CSS -->
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div class="site-container">
      <header>
        <div class="header-content">
          <section class="header__content">
            <small>mykal.coffee</small>
            <h1>Mykal Machon</h1>
            <p>
              This is Mykal's microblog where he posts in short form about
              coffee and other goodies.
            </p>
          </section>
          <ul class="header__links">
            <li>mykal.codes</li>
            <li>GitHub/MykalMachon</li>
            <li>Mastodon</li>
          </ul>
        </div>
      </header>
      <main>
        <section class="block-container__posts">
          <p>Posts go here</p>
          {posts.map((post) => {
            return (
              <article>
                <h3>{post.frontmatter.title}</h3>
                <div set:html={post.compiledContent()}></div>
              </article>
            )
          } )}
        </section>
      </main>
    </div>
  </body>
</html>

<style lang="scss">
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Eczar', serif;
    color: var(--teal-1);
  }

  small {
    font-family: monospace;
  }

  .site-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 100vh;
    background: var(--gray-9);
    header {
      grid-column: 2;
    }
    main {
      grid-column: span 2;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      header,
      main {
        grid-column: 1;
      }
    }
  }

  .header-content {
    border: 1px solid var(--teal-9);
    border-right: 0px;
    position: sticky;
    top: var(--size-8);
  }

  .block-container {
    padding: var(--size-3);
  }

  .block-container__posts {
    margin-top: var(--size-8);
    border: 1px solid var(--teal-9);
    > * {
      padding: var(--size-3);
      border-bottom: 1px solid var(--teal-9);
    }
  }

  .header__content {
    padding: var(--size-3);
  }

  .header__links {
    padding: var(--size-3);
    border-top: 1px solid var(--teal-9);
    li {
      margin-left: var(--size-3);
      &::marker {
        content: '🔗';
      }
    }
  }
</style>
