---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mykal's Coffee</title>
    <!-- OPEN PROPS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/open-props@1.4.24/open-props.min.css"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="site-container">
      <header>
        <div class="header-content">
          <section class="header__content">
            <small>mykal.coffee</small>
            <h1>Mykal Machon</h1>
            <p>
              This is Mykal's microblog where he posts in short form about
              coffee and other goodies.
            </p>
          </section>
          <ul class="header__links">
            <li>mykal.codes</li>
            <li>GitHub/MykalMachon</li>
            <li>Mastodon</li>
          </ul>
        </div>
      </header>
      <main>
        <section class="block-container__posts">
          <p>Posts go here</p>
          <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            fuga quo non officiis suscipit nobis necessitatibus exercitationem
            explicabo iure dolor, veniam cum id magnam rerum similique. Culpa
            molestias velit similique?
          </article>
          <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit dolores laborum distinctio, expedita cupiditate sed
            dicta sunt esse. Ullam saepe natus quos consequatur, temporibus
            atque corrupti facilis labore fugit a.
          </article>
          <article>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At enim
            voluptatem, ipsum sapiente atque aspernatur corporis iure
            perferendis recusandae tempora saepe eligendi dolorem cumque aperiam
            quam assumenda accusantium nam nisi! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quibusdam nulla unde officia iure,
            quas dicta iusto adipisci dolore iste! Fugiat vitae quo id
            laudantium, iste odio hic. Nulla, sapiente ea.
          </article>
          <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error iste
            eveniet officia cumque esse! Deserunt illo cum eaque ut quos. Natus
            ad fuga doloremque exercitationem eum reprehenderit at ipsa impedit.
          </article>
          <article>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            adipisci sed neque, necessitatibus, placeat asperiores praesentium
            nobis illo explicabo ad dolorum nisi alias aliquam. Cumque eum
            laborum accusamus voluptas expedita!
          </article>
        </section>
      </main>
    </div>
  </body>
</html>

<style lang="scss">
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Eczar', serif;
    color: var(--teal-1);
  }

  small {
    font-family: monospace;
  }

  .site-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    min-height: 200vh;
    background: var(--gray-9);
    header {
      grid-column: 2;
      border-left: 1px solid var(--teal-9);
      border-right: 1px solid var(--teal-9);
    }
    main {
      grid-column: span 2;
      border-right: 1px solid var(--teal-9);
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      header,
      main {
        grid-column: 1;
      }
    }
  }

  .header-content {
    border-bottom: 1px solid var(--teal-9);
    position: sticky;
    top: 0px;
  }

  .block-container {
    padding: var(--size-3);
  }

  .block-container__posts {
    > * {
      padding: var(--size-3);
      border-bottom: 1px solid var(--teal-9);
    }
  }

  .header__content {
    padding: var(--size-3);
  }

  .header__links {
    padding: var(--size-3);
    border-top: 1px solid var(--teal-9);
    li {
      margin-left: var(--size-3);
      &::marker {
        content: '🔗';
      }
    }
  }
</style>
