---
const posts = await Astro.glob('../../pages/notes/*.mdx');
const sortedPosts = posts.sort(
  //@ts-ignore
  (a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate)
);
---

<section class="postlist">
  {
    sortedPosts.map((post) => (
      <article class="postlist__post">
        <h3>{post.frontmatter.title}</h3>
        {post.frontmatter.description && <p>{post.frontmatter.description}</p>}
        <p>
          <a href={post.url}>see more</a>
        </p>
      </article>
    ))
  }
</section>

<style lang="scss">
  .postlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--size-3);
  }
  .postlist__post {
    border: 1px solid var(--paper-3);
    border-radius: var(--radius-2);
    padding: var(--size-3);
    transition: background 0.1s ease-in;
  }
</style>
