---
const { title, description } = Astro.props;

const marqueeText = [...Array(20).keys()].map((num, idx) => {
  if (idx % 2 == 1) {
    return ' * '
  } else {
    return ' mykal likes coffee '
  }
})
---

<header class="navbar__container">
  <div class="marquee">
    {marqueeText}
  </div>
  <div class="navbar container--wide">
    <div class="navbar__title">
      mykal.coffee
    </div>
    <nav class="navbar__links">
      more to come...
    </nav>
  </div>
</header>

<style lang="scss">
  .navbar__container {
    width: 100%;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar,
  .marquee {
    width: 100%;
    min-height: 50px;
  }

  .marquee {
    border-bottom: 1px solid white;
    padding: 1em 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
  }

  .navbar {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
</style>