---

const { image, imageAlt } = Astro.props;
---

<section class="hero">
  <div class="hero__image">
    <img src={image} alt={imageAlt} />
  </div>
  <div class="hero__content">
    <slot />
  </div>
</section>

<style lang="scss">
  .hero {
    margin: var(--size-6) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-6);
  }

  .hero__image img {
    border-radius: var(--radius-3);
    height: 100%;
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: cover;
    box-shadow: var(--shadow-2);
  }

  @media screen and (max-width: 768px) {
    .hero {
      grid-template-columns: 1fr;
    }
  }
</style>