@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Nova+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Nova Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

/* composition elements */

.container--wide {
  padding: 0em 1em;
}
