/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Nova+Mono&display=swap');
/* open props */
@import "https://unpkg.com/open-props";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Nova Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

/* main overrides */
h1 {
  font-size: 3em;
}

/* composition elements */

.container--wide {
  padding: 0em var(--size-3);
}
